:root {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #f3f4f6;
  background-color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #111827;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
  color: #ffffff;
  font-weight: 700;
}

* {
  box-sizing: border-box;
}